html, body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0
}

.content {
    max-width: 1366px;
    margin: 0 auto !important;
    padding: 0 3%;
}

.container {
    width: 100%;
}

img{
    max-width: 100%;
}

/*********************************************
***************** HEADER *********************
**********************************************/
.main_header{
    z-index: 9;
    padding: 10px 0 ;
    position: relative;
    top: 0;
    box-shadow: 0px 5px 14.25px 0.75px rgba(36, 11, 12, 0.05)
}

.main_menu_mobile_header{
    display: none;
}

.menu_mobile{
    display: none;
}

.main_header > .content{
    display: flex;
}

.main_logo{
    flex-basis: 250px;
    width: 214px;
    float: left
}

.main_menu{
    flex-basis: calc(100% - 220px);
    display: flex;
    justify-content: flex-end;
}

.main_menu ul{
    display: flex;
    align-items: stretch;
}

.main_menu li{
    list-style: none;
    display: flex;
    align-items: center;
}

.main_menu li a{
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: #373435;
    text-decoration: none;
    font-size: .9em;
    transition: .5s;
    -webkit-transition: .5s;
    height: 100%;
    font-family: "PoppinsR", sans-serif;
    text-transform: uppercase
}

.main_menu li a:hover{
    /*border-bottom: 5px solid var(--azul);*/
    transition: .5s;
    -webkit-transition: .5s;
    background: #373435;
    color: white;
}

/*********************************************
***************** NEW PRODUCTS****************
**********************************************/
.main_new_products{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0
}

.main_new_products > .content{
    justify-content: space-between;
    flex-wrap: wrap
}

.main_new_products h1{
    flex-basis: 100%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    position: relative;
    text-align: center
}

.main_new_products h1::before{
    content: "";
    width: 60px;
    height: 2.5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f63440;
    margin: 0 auto;
}

.main_new_products ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main_new_products ul li.new_product_item{
    display: flex;
    margin: 30px 0;
    flex-basis: calc(33% - 30px);
    text-align: center;
    padding: 0 30px;
    border-right: 1px solid #efefef;
    transition: .5s;
    position: relative
}

.main_new_products ul li:hover{
    cursor: pointer;
    box-shadow: 0px 5px 19px 1px rgba(36, 11, 12, 0.15);
    transition: .5s;

}

.main_new_products ul li .new_product_desc{
    color: #373435;
    font-size: 1em;
    font-weight: 700
}

.main_new_products ul li .new_product_price{
    font-weight: 700;
    color: #f00;
    margin: 15px 0
}

.main_new_products ul li .new_product_button{
    background: #373435;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 10px 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    color: #fff
}

.main_new_products ul li:hover .new_product_button{
    opacity: 1;
    visibility: visible;
    transition: .5s
}

.main_new_products ul li a{
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 700
}


/*********************************************
***************** PRODUCT CTA ****************
**********************************************/
.main_product_cta{
    background: url(img/bg-parallax3.jpg) no-repeat center center;
    background-size: cover;
    padding: 99px 0px 102px 0px;
    text-align: center
}

.main_product_cta h1 {
    font-size: 3em;
    position: relative;
    text-align: center
}

.main_product_cta_button{
    display: inline-block;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #373435;
    line-height: 47px;
    padding: 5px 30px;
    transition: .5s;
}

.main_product_cta_button a{
    color: #fff;
    text-decoration: none;
    display: block;
    transition: .5s
}

.main_product_cta_button:hover{
    background-color: #fff;
    transition: .5s
}

.main_product_cta_button:hover a{
    color: #f63440;
    transition: .5s
}

/*********************************************
***************** BLOG ****************
**********************************************/
.main_blog{
    display: block;
    flex-wrap: wrap;
    margin: 50px 0
}

.main_blog > .content{
    justify-content: space-between;
    flex-wrap: wrap
}

.main_blog h1{
    flex-basis: 100%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    position: relative;
    text-align: center
}

.main_blog h1::before{
    content: "";
    width: 60px;
    height: 2.5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f63440;
    margin: 0 auto;
}

.main_blog_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.main_blog_box article{
    flex-basis: calc(33% - 60px);
    margin-bottom: 60px;
    text-align: center;
    padding: 5px;
    border: 1px solid #fff;
    transition: .5s
}

.main_blog_box article a{
    color: #fff;
    text-decoration: none;
}

.main_blog_box article:hover{
    border: 1px solid #e0e0e0;
    transition: .5s;
    cursor: pointer
}

.main_blog_box article h2{
    margin: 5px 0;
    color: #373435;
    font-size: 1.5em;
    font-weight: 700
}

.main_blog_box article span{
    color: #373435
}

.main_blog_box article .main_blog_article_button{
    background: #000;
    margin: 10px 0;
    border-radius: 10px;    
    text-transform: uppercase;
    display: block;
    padding: 10px 0;
    border: 1px solid #000;
    transition: .5s
}

.main_blog_box article:hover .main_blog_article_button{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    transition: .5s
}

/*********************************************
***************** NEWSLETTER ****************
**********************************************/
.main_newsletter{
    background-color: #373435;
    padding: 34px 0px 31px 0px;
}
.main_newsletter_title h1{
    font-size: 1.5em !important;
    color: #fff;
    font-weight: bold;
    margin-top: 6px;
}

input[type="email"]{
    background-color: #ffffff !important;
    height: 50px !important;
    width: 100% !important;
    padding-left: 17px !important;
    line-height: 30px !important;
    letter-spacing: 0.6px !important;
    font-weight: 400 !important;
    outline: none !important;
    border: 1px solid #ebebeb !important;
}


#subscribe-form button {
    position: absolute;
    top: 0;
    right: 0;
    letter-spacing: -0.2px;
    font-weight: 700;
    color: #ffffff;
    line-height: 30px;
    text-transform: uppercase;
    padding: 7px 26px;
    background-color: #f63440;

}

/*********************************************
***************** FOOTER ****************
**********************************************/
.main_footer {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
}
.main_footer > .content{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.main_fotter_box{
    flex-basis: calc(25%);
}

.main_fotter_box ul li{
    text-align: left;
    font-size: .9em
}

.main_fotter_box ul li a{
    color: #373435;
    text-decoration: none;

}

.main_fotter_box ul li a:hover{
    text-decoration: underline
}

.main_fotter_box > img{
    max-width: 50% !important; 
}

/******************************************************************************
*************************************** RESPONSIVO******************************
******************************************************************************/
@media (max-width: 980px) {
    .menu_mobile{
        display: flex;
        align-items: center;
    }
    
    .menu_mobile:hover{
        cursor: pointer
    }

    .main_menu_box {
        right: -110%;
        z-index: 99999;
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
        height: 100vh;
        position: fixed;
        top: 43px;
        overflow-y: auto;
        text-align: center;
        display: block !important
    }

    .main_logo > img{
        max-width: 70% !important
    }

    .menu_mobile > i{
        font-size: 2em;
    }

    .main_menu li{
        display: block;
        margin: 30px;
    }
    
    .main_menu li a{
        display: block
    }
}

@media (max-width: 780px) {
    .main_new_products ul li.new_product_item{
        flex-basis: calc(50% - 30px);
    }

    .main_fotter_box {
        flex-basis: calc(50%);
    }
}


@media (max-width: 600px) {
    .main_new_products ul li.new_product_item {
        flex-basis: calc(50% - 0px);
        padding: 0 10px;
    }

    .main_product_cta{
        padding: 50px 0;
    }

    .main_product_cta h1 {
        font-size: 2em;
    }

    .main_product_cta_button{
        padding: 0px 20px;
    }
}

@media (max-width: 500px) {
    .main_new_products ul li.new_product_item {
        flex-basis: calc(100%);
        margin: 15px 0;
    }

    .new_product_img{
        width: 100%;
    }
}

@media (max-width: 400px) {
    .main_fotter_box {
        flex-basis: calc(100%);
    }

    .main_fotter_box ul li{
        text-align: center
    }

    .main_fotter_box{
        text-align: center
    }
}